<a href="https://colab.research.google.com/github/Isiumlord/ProjetoFinal-AcidentesTerrestres/blob/main/DataSet-VolumeDeTrafego-Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1 - IMPORTANDO PANDAS, JSON E BIBLIOTECAS

import json
import pandas as pd
import numpy as np
from pandas import json_normalize

In [ ]:
#2 - INTEGRANDO COM A GCP

from google.colab import auth
auth.authenticate_user()
project_id = 'projeto-final-grupo03'
!gcloud config set project projeto-final-grupo03

Updated property [core/project].

In [ ]:
#3 - IMPORTANDO ARQUIVO DA GCP PARA O COLAB

!gsutil cp gs://datasets_gp03/VolTrafego2019.json /tmp/VolTrafego2019.json
!gsutil cp gs://datasets_gp03/VolTrafego2020.json /tmp/VolTrafego2020.json
#Print do resultado para garantir que a transferencia funcionou.
#!cat /tmp/VolTrafego2019.json
#!cat /tmp/VolTrafego2020.json

Copying gs://datasets_gp03/VolTrafego2019.json...
- [1 files][  6.5 MiB/  6.5 MiB]
Operation completed over 1 objects/6.5 MiB.
Copying gs://datasets_gp03/VolTrafego2020.json...
- [1 files][  6.8 MiB/  6.8 MiB]
Operation completed over 1 objects/6.8 MiB.

In [ ]:
#4 - IMPORTANDO O DOCUMENTO E CODIFICANDO DADOS

'''with open("tmp/VolTrafego2019.json") as grades:    
  dados = json.load(grades)'''

df1 = pd.read_json("/tmp/VolTrafego2019.json")
df2 = pd.read_json("/tmp/VolTrafego2020.json")

In [ ]:
#5 - CONSULTANDO DATAFRAME EM JSON PARA VER SE OS DADOS CARREGARAM DE FORMA CORRETA

df1

                            empresas_habilitadas_regular
0      {'Concessionaria': 'NOVADUTRA', 'mes_ano': '01...
1      {'Concessionaria': 'NOVADUTRA', 'mes_ano': '01...
2      {'Concessionaria': 'NOVADUTRA', 'mes_ano': '01...
3      {'Concessionaria': 'NOVADUTRA', 'mes_ano': '01...
4      {'Concessionaria': 'NOVADUTRA', 'mes_ano': '01...
...                                                  ...
33631  {'Concessionaria': 'AUTOPISTA FERNÃO DIAS', 'm...
33632  {'Concessionaria': 'AUTOPISTA FERNÃO DIAS', 'm...
33633  {'Concessionaria': 'AUTOPISTA FERNÃO DIAS', 'm...
33634  {'Concessionaria': 'AUTOPISTA FERNÃO DIAS', 'm...
33635  {'Concessionaria': 'AUTOPISTA FERNÃO DIAS', 'm...

[33636 rows x 1 columns]

In [ ]:
#6 - NORMALIZANDO DADOS CONTIDOS NOS ARQUIVOS JSON

df1 = pd.json_normalize(df1["empresas_habilitadas_regular"])
df2 = pd.json_normalize(df2["empresas_habilitadas_regular"])

In [ ]:
#7 - CONSULTANDO TIPO DE DADOS DO DATAFRAME

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33636 entries, 0 to 33635
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Concessionaria   33636 non-null  object
 1   mes_ano          33636 non-null  object
 2   Sentido          33636 non-null  object
 3   Praca            33636 non-null  object
 4   Categoria        33636 non-null  object
 5   Tipo_de_veiculo  33636 non-null  object
 6   Volume_total     33636 non-null  object
dtypes: object(7)
memory usage: 1.8+ MB

In [ ]:
#8 - NORMALIZANDO TIPO DATE NO DATAFRAME1

df1["mes_ano"] = pd.to_datetime(df1["mes_ano"], dayfirst=True)

In [ ]:
#9 - NORMALIZANDO TIPO DATE NO DATAFRAME2

df2["mes_ano"] = pd.to_datetime(df2["mes_ano"], dayfirst=True)

In [ ]:
#10 - CONCATENANDO DATAFRAMES

frames = [df1, df2]
df = pd.concat(frames)

In [ ]:
#11 - VISUALIZANDO DATAFRAME

df

              Concessionaria    mes_ano  ... Tipo_de_veiculo Volume_total
0                  NOVADUTRA 2019-01-01  ...         Passeio       640429
1                  NOVADUTRA 2019-01-01  ...         Passeio       787419
2                  NOVADUTRA 2019-02-01  ...         Passeio       511718
3                  NOVADUTRA 2019-02-01  ...         Passeio       638796
4                  NOVADUTRA 2019-03-01  ...         Passeio       579422
...                      ...        ...  ...             ...          ...
35538  AUTOPISTA FERNÃO DIAS 2020-12-01  ...       Comercial        16137
35539  AUTOPISTA FERNÃO DIAS 2020-12-01  ...       Comercial        15141
35540  AUTOPISTA FERNÃO DIAS 2020-12-01  ...       Comercial        15863
35541  AUTOPISTA FERNÃO DIAS 2020-12-01  ...       Comercial        14362
35542  AUTOPISTA FERNÃO DIAS 2020-12-01  ...       Comercial        14988

[69179 rows x 7 columns]

In [ ]:
#12 - ANALISANDO O TIPO DE DADOS (STRING, INT, FLOAT)

df.dtypes

Concessionaria             object
mes_ano            datetime64[ns]
Sentido                    object
Praca                      object
Categoria                  object
Tipo_de_veiculo            object
Volume_total               object
dtype: object

In [ ]:
#13 - EDITANDO TIPOS DE DADOS DO DATAFRAME

df.Concessionaria = df.Concessionaria.convert_dtypes(convert_string=True)
df.Sentido = df.Sentido.convert_dtypes(convert_string=True)
df.Praca = df.Praca.convert_dtypes(convert_string=True)
df.Categoria = df.Categoria.convert_dtypes(convert_string=True)
df.Tipo_de_veiculo = df.Tipo_de_veiculo.convert_dtypes(convert_string=True)
df.Volume_total = df.Volume_total.convert_dtypes(convert_integer=True)

In [ ]:
#14 - ANALISANDO O TIPO DE DADOS (STRING, INT, FLOAT) PARA VER SE AS TROCAS DERAM CERTO

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69179 entries, 0 to 35542
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Concessionaria   69179 non-null  string
 1   mes_ano          69179 non-null  datetime64[ns]
 2   Sentido          69179 non-null  string
 3   Praca            69179 non-null  string
 4   Categoria        69179 non-null  string
 5   Tipo_de_veiculo  69179 non-null  string
 6   Volume_total     69179 non-null  object
dtypes: datetime64[ns](1), object(1), string(5)
memory usage: 4.2+ MB

In [ ]:
#16 - CONVERTENDO O VALOR DA COLUNA "Volume Total" DE OBJETO PARA NÚMERICO

df['Volume_total'] = pd.to_numeric(df['Volume_total'],errors = 'coerce')

In [ ]:
#17 - VERIFICANDO AS TROCAS DOS TIPOS DE DADOS

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69179 entries, 0 to 35542
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Concessionaria   69179 non-null  string
 1   mes_ano          69179 non-null  datetime64[ns]
 2   Sentido          69179 non-null  string
 3   Praca            69179 non-null  string
 4   Categoria        69179 non-null  string
 5   Tipo_de_veiculo  69179 non-null  string
 6   Volume_total     68108 non-null  float64
dtypes: datetime64[ns](1), float64(1), string(5)
memory usage: 4.2 MB

In [ ]:
#18 - BACKUP DE SEGURANÇA CASO QUALQUER EDIÇÃO SEJA EQUIVOCADA

df = df.copy()

In [ ]:
#19 - VISUALIZANDO DATAFRAME

df

              Concessionaria    mes_ano  ... Tipo_de_veiculo Volume_total
0                  NOVADUTRA 2019-01-01  ...         Passeio     640429.0
1                  NOVADUTRA 2019-01-01  ...         Passeio     787419.0
2                  NOVADUTRA 2019-02-01  ...         Passeio     511718.0
3                  NOVADUTRA 2019-02-01  ...         Passeio     638796.0
4                  NOVADUTRA 2019-03-01  ...         Passeio     579422.0
...                      ...        ...  ...             ...          ...
35538  AUTOPISTA FERNÃO DIAS 2020-12-01  ...       Comercial      16137.0
35539  AUTOPISTA FERNÃO DIAS 2020-12-01  ...       Comercial      15141.0
35540  AUTOPISTA FERNÃO DIAS 2020-12-01  ...       Comercial      15863.0
35541  AUTOPISTA FERNÃO DIAS 2020-12-01  ...       Comercial      14362.0
35542  AUTOPISTA FERNÃO DIAS 2020-12-01  ...       Comercial      14988.0

[69179 rows x 7 columns]

In [ ]:
#20 - TROCANDO NOME DA COLUNA "mes_ano" - df.rename(columns={"NomeQueQueroMudar": "NomeNovo"}) + inplace=True

df.rename(columns={"mes_ano": "Data"}, inplace=True)

In [ ]:
#21 - ANALIZANDO DADOS DAS COLUNAS | COLUNA "Sentido"  - tem de dropar ela, não consta nada de relevante

pd.unique(df["Sentido"])

<StringArray>
['Sul', 'Norte', 'Sentido 1', 'Sentido 2', 'Leste', 'Oeste']
Length: 6, dtype: string

In [ ]:
#22 - ANALIZANDO DADOS DAS COLUNAS | COLUNA "Categoria"  - tem de dropar ela, não consta nada de relevante

pd.unique(df["Categoria"])

<StringArray>
[                     'Categoria 1',                      'Categoria 2',
                      'Categoria 3',                      'Categoria 4',
                      'Categoria 5',                      'Categoria 6',
                      'Categoria 7',                      'Categoria 8',
                      'Categoria 9',                'Categoria Esp. 07',
                'Categoria Esp. 08',                'Categoria Esp. 09',
                'Categoria Esp. 10',                           'Outros',
                     'Categoria 10',                     'Categoria 11',
               'Categoria Especial',                     'Categoria 12',
          'Veículo Passeio 2 eixos',        'Veículo Comercial 2 eixos',
          'Veículo Passeio 3 eixos',        'Veículo Comercial 3 eixos',
          'Veículo Passeio 4 eixos',        'Veículo Comercial 4 eixos',
        'Veículo Comercial 5 eixos',        'Veículo Comercial 6 eixos',
                             'Moto',        'Veículo Comercial 7 eixos',
        'Veículo Comercial 8 eixos',        'Veículo Comercial 9 eixos',
       'Veículo Comercial 10 eixos', 'Veículo Comercial Acima 10 eixos']
Length: 32, dtype: string

In [ ]:
#23 - DROPANDO COLUNAS - APENAS PARA MELHOR VISUALIZAÇÃO DE DADOS MAIS PERTINENTES | UM BACKUP SERA FEITO SOBRE ALGUMAS DESSAS COLUNAS, CASO ELAS NECESSITEM SER CONSULTADAS

df["backup_Categoria"] = df.Categoria

df.drop(["Categoria"], axis=1, inplace=True)

In [ ]:
#24 - VERIFICANDO DROP / BACKUP

df

              Concessionaria       Data  ... Volume_total backup_Categoria
0                  NOVADUTRA 2019-01-01  ...     640429.0      Categoria 1
1                  NOVADUTRA 2019-01-01  ...     787419.0      Categoria 1
2                  NOVADUTRA 2019-02-01  ...     511718.0      Categoria 1
3                  NOVADUTRA 2019-02-01  ...     638796.0      Categoria 1
4                  NOVADUTRA 2019-03-01  ...     579422.0      Categoria 1
...                      ...        ...  ...          ...              ...
35538  AUTOPISTA FERNÃO DIAS 2020-12-01  ...      16137.0           Outros
35539  AUTOPISTA FERNÃO DIAS 2020-12-01  ...      15141.0           Outros
35540  AUTOPISTA FERNÃO DIAS 2020-12-01  ...      15863.0           Outros
35541  AUTOPISTA FERNÃO DIAS 2020-12-01  ...      14362.0           Outros
35542  AUTOPISTA FERNÃO DIAS 2020-12-01  ...      14988.0           Outros

[69179 rows x 7 columns]

In [ ]:
#25 - DROPANDO COLUNAS SEM RELEVÂNCIA PARA O TRABALHO

df.drop(["backup_Categoria"], axis=1, inplace=True)

In [ ]:
#26 - VERIFICANDO DROP

df

              Concessionaria       Data  ... Tipo_de_veiculo Volume_total
0                  NOVADUTRA 2019-01-01  ...         Passeio     640429.0
1                  NOVADUTRA 2019-01-01  ...         Passeio     787419.0
2                  NOVADUTRA 2019-02-01  ...         Passeio     511718.0
3                  NOVADUTRA 2019-02-01  ...         Passeio     638796.0
4                  NOVADUTRA 2019-03-01  ...         Passeio     579422.0
...                      ...        ...  ...             ...          ...
35538  AUTOPISTA FERNÃO DIAS 2020-12-01  ...       Comercial      16137.0
35539  AUTOPISTA FERNÃO DIAS 2020-12-01  ...       Comercial      15141.0
35540  AUTOPISTA FERNÃO DIAS 2020-12-01  ...       Comercial      15863.0
35541  AUTOPISTA FERNÃO DIAS 2020-12-01  ...       Comercial      14362.0
35542  AUTOPISTA FERNÃO DIAS 2020-12-01  ...       Comercial      14988.0

[69179 rows x 6 columns]

In [ ]:
#27 - DIVIDINDO DADOS DA COLUNA DE PRAÇAS PARA VISUALIZAR COMO EXTRAIR OS DADOS

df['Praca'].str.split(" ", expand=True)

          0   1          2   3        4   ...    7     8     9     10    11
0      Praça  01  BR-116/SP  km   204,50  ...  <NA>  <NA>  <NA>  <NA>  <NA>
1      Praça  01  BR-116/SP  km   204,50  ...  <NA>  <NA>  <NA>  <NA>  <NA>
2      Praça  01  BR-116/SP  km   204,50  ...  <NA>  <NA>  <NA>  <NA>  <NA>
3      Praça  01  BR-116/SP  km   204,50  ...  <NA>  <NA>  <NA>  <NA>  <NA>
4      Praça  01  BR-116/SP  km   204,50  ...  <NA>  <NA>  <NA>  <NA>  <NA>
...      ...  ..        ...  ..      ...  ...   ...   ...   ...   ...   ...
35538  Praça  06  BR-381/MG  km      659  ...  <NA>  <NA>  <NA>  <NA>  <NA>
35539  Praça  07  BR-381/MG  km  596,935  ...  <NA>  <NA>  <NA>  <NA>  <NA>
35540  Praça  07  BR-381/MG  km  596,935  ...  <NA>  <NA>  <NA>  <NA>  <NA>
35541  Praça  08  BR-381/MG  km      546  ...  <NA>  <NA>  <NA>  <NA>  <NA>
35542  Praça  08  BR-381/MG  km      546  ...  <NA>  <NA>  <NA>  <NA>  <NA>

[69179 rows x 12 columns]

In [ ]:
#28 - DIVIDINDO DADOS DA COLUNA DE PRAÇAS E SALVANDO ELAS EM COLUNAS

df [["1", "2", "BRUF","3","4","5","6","7","8","9","10","11"]] = df["Praca"].str.split(" ", expand=True)

In [ ]:
#29 - EXCLUINDO COLUNAS RESULTANTES DA DIVISÃO

df.drop(["1"], axis=1, inplace=True)
df.drop(["2"], axis=1, inplace=True)
df.drop(["3"], axis=1, inplace=True)
df.drop(["4"], axis=1, inplace=True)
df.drop(["5"], axis=1, inplace=True)
df.drop(["6"], axis=1, inplace=True)
df.drop(["7"], axis=1, inplace=True)
df.drop(["8"], axis=1, inplace=True)
df.drop(["9"], axis=1, inplace=True)
df.drop(["10"], axis=1, inplace=True)
df.drop(["11"], axis=1, inplace=True)

In [ ]:
#30 - VISUALIZANDO DATAFRAME

df

              Concessionaria       Data  ... Volume_total       BRUF
0                  NOVADUTRA 2019-01-01  ...     640429.0  BR-116/SP
1                  NOVADUTRA 2019-01-01  ...     787419.0  BR-116/SP
2                  NOVADUTRA 2019-02-01  ...     511718.0  BR-116/SP
3                  NOVADUTRA 2019-02-01  ...     638796.0  BR-116/SP
4                  NOVADUTRA 2019-03-01  ...     579422.0  BR-116/SP
...                      ...        ...  ...          ...        ...
35538  AUTOPISTA FERNÃO DIAS 2020-12-01  ...      16137.0  BR-381/MG
35539  AUTOPISTA FERNÃO DIAS 2020-12-01  ...      15141.0  BR-381/MG
35540  AUTOPISTA FERNÃO DIAS 2020-12-01  ...      15863.0  BR-381/MG
35541  AUTOPISTA FERNÃO DIAS 2020-12-01  ...      14362.0  BR-381/MG
35542  AUTOPISTA FERNÃO DIAS 2020-12-01  ...      14988.0  BR-381/MG

[69179 rows x 7 columns]

In [ ]:
#31 - DIVIDINDO DADOS DA COLUNA "BRUF" E SALVANDO EM COLUNAS

df [["BR", "UF"]] = df["BRUF"].str.split("/", expand=True)

In [ ]:
#32 - DROPANDO COLUNAS QUE FICARAM REPETIDAS

df.drop(["BRUF"], axis=1, inplace=True)
df.drop(["Praca"], axis=1, inplace=True)

In [ ]:
#33 - VISUALIZANDO DATAFRAME

df

              Concessionaria       Data Sentido  ... Volume_total      BR  UF
0                  NOVADUTRA 2019-01-01     Sul  ...     640429.0  BR-116  SP
1                  NOVADUTRA 2019-01-01   Norte  ...     787419.0  BR-116  SP
2                  NOVADUTRA 2019-02-01     Sul  ...     511718.0  BR-116  SP
3                  NOVADUTRA 2019-02-01   Norte  ...     638796.0  BR-116  SP
4                  NOVADUTRA 2019-03-01     Sul  ...     579422.0  BR-116  SP
...                      ...        ...     ...  ...          ...     ...  ..
35538  AUTOPISTA FERNÃO DIAS 2020-12-01     Sul  ...      16137.0  BR-381  MG
35539  AUTOPISTA FERNÃO DIAS 2020-12-01   Norte  ...      15141.0  BR-381  MG
35540  AUTOPISTA FERNÃO DIAS 2020-12-01     Sul  ...      15863.0  BR-381  MG
35541  AUTOPISTA FERNÃO DIAS 2020-12-01   Norte  ...      14362.0  BR-381  MG
35542  AUTOPISTA FERNÃO DIAS 2020-12-01     Sul  ...      14988.0  BR-381  MG

[69179 rows x 7 columns]

In [ ]:
#34 - SALVANDO O ARQUIVO NORMALIZADO NO BUCKET

df.to_csv('pedagio_tratado.csv')
!gsutil cp pedagio_tratado.csv gs://notebooks_pandas_gp03/
#!gsutil cat gs://notebooks_pandas_gp03/pedagio_tratado.csv

Copying file://pedagio_tratado.csv [Content-Type=text/csv]...
-
Operation completed over 1 objects/4.0 MiB.